body {
    font-family: Arial, sans-serif;
    padding: 0;
    background-image: url("fon.jpg");
}

.app {
    display: flex;
    gap: 1px;
    height: 100dvh;
}

.sidebar {
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: 10px;
    border: 1px solid #8c8c8c;
    background: rgba(255, 255, 255, 0.36);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.6px);
    -webkit-backdrop-filter: blur(2.6px);
    border: 1px solid rgba(255, 255, 255, 0.45);
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.09),
            rgba(255, 255, 255, 0.09)
    );

}

.button-admin {
    margin-top: 25px;
}


.sid {
    display: flex;
    margin: 10px;
    height: 39px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border: 1px solid rgba(255, 255, 255, 1);
    color: #000000;


}



.main-content {
    width: 100%;
    margin: 10px;
    border: 1px solid #8c8c8c;
    background: rgba(255, 255, 255, 0.36);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.6px);
    -webkit-backdrop-filter: blur(2.6px);
    border: 1px solid rgba(255, 255, 255, 0.45);
}

.content {
    max-width: 600px;
    margin: 0 auto;
}

.content h2 {
    margin-bottom: 20px;
}

.content ul {
    list-style-type: none;
    padding: 0;
}

.content li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}