html {
  width: 100%;
  height: 100dvh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html * {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
body {
  min-height: 100dvh;
  -webkit-tap-highlight-color: transparent;
  font-family: "Roboto";
  font-size: 24px;
  display: flex;
  margin: 0;
  padding: 0;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  font-family: Consolas, Courier, monospace;
  height: 100dvh;
}

.root {
  width: 100%;
}

html::-webkit-scrollbar {
  display: none;
}

.hideScroll::-webkit-scrollbar {
  display: none;
}

.hideScroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
